.modal-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    transition: all .8s;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    border-bottom: 1px solid #e2e2e2;
}

.modal-body {
    padding: 30px 40px;
    text-align: center;
}

.modal-footer {
    border-top: 1px solid #e2e2e2;
    background: white;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.btn-cancel,
.btn-save {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    padding: 20px 30px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin-left: 15px;
}

.btn-cancel {
    background-color: white;
    color: grey;
}

.btn-save {
    background-color: #1A73E8;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}